block head
  script(type='module' src='/src/js/main.js')

block meta
  meta(name='description' content='Testing Vite Pug')

block title 
  title Vite Pug/Scss template

body
  block header
    header
      include nav.pug
  
  block content