
nav.wrap
  | LogoHere
  ul.canHazBurger
    li
    li
    li

  ul.navMain.hidden
    li 
      a(href="/") home
    li 
      a(href=pagesUrl + "page.html") page
    li 
      a(href=pagesUrl + "page2.html") page 2
    li
      a(href=pagesUrl + "page.html") item 4