| #{resolve}

nav.wrap
  | LogoHere
  ul.canHazBurger
    li
    li
    li

  ul.navMain.hidden
    li 
      a(href="index.html") home
    li 
      a(href="page.html") page
    li 
      a(href="page2.html") page 2
    li
      a(href="page.html") item 4