@use 'template/scss/variables' as *;

@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');

//- //>Base settings
:root {
  --clr: #f3e4ff;
  --clr-dark: #e0bbff;
  --clr-secondary: #cbfcfd;
  --clr-secondary-dark: #00d6dd;
  --clr-white: white;
  --clr-black: black;
  --clr-bg: #1b1b1b;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  color: var(--clr);
  background: var(--clr-bg);
  font-family: 'Nunito Sans', Courier, monospace;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  max-width: 100%;
}

ul {
  margin: 0;
  list-style: none;
}

.span {
  display: inline-block;
}

.wrap {
  max-width: 1199px;
  margin: 0 auto;
  @media (max-width: $minWidthLg) {
    padding: 0 1.5rem;
  }
}

.center {
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  // did not use place because hierarchy
  justify-items: center;
  align-items: center;
  text-align: center;
}

.flex {
  display: flex;
  justify-content: space-between;
  @media (max-width: $minWidthLg) {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  @media (max-width: $minWidthSml) {
    justify-content: center;
  }
}

header {
  color: var(--clr-bg);
  background: var(--clr);
  @media (max-width: $minWidthMed) {
    position: sticky;
    top: 0;
    z-index: 420;
    border-bottom: 1px solid var(--clr-dark);
  }
}

.hidden {
  display: inline-block;
  visibility: visible;
  transition: all 0.3ms;
  @media (max-width: $minWidthMed) {
    visibility: hidden;
    display: none;
  }
}

.canHazBurger {
  display: grid;
  gap: 3px;
  justify-content: center;
  visibility: hidden;
  @media (max-width: $minWidthMed) {
    visibility: visible;
    li {
      width: 25px;
      height: 3px;
      background: var(--clr-black);
    }
  }
}

nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navMain {
  @media (max-width: $minWidthMed) {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    justify-self: center;
    text-align: center;
    background: linear-gradient(var(--clr), var(--clr-white));
    border-bottom: 1px solid var(--clr-dark);
    z-index: 999;
  }

  li {
    padding: 1em;
    text-transform: uppercase;
    display: inline-block;
    cursor: pointer;
    @media (max-width: $minWidthMed) {
      display: block;
    }
  }

  i.fas {
    padding: 0.5rem;
    cursor: pointer;
  }
}
