block head 
  link(rel='stylesheet' url='./src/styles/emailBtn.scss')
  link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css' rel='stylesheet' type='text/css')


block content
  -let val = 6
  -let name = 'pug'

  .wrap
    p I am #{name} template
    button#buttonLogin Login

    .grid
      .cell
        h2 now this is better
        form.newForm(action='' data-email-form)
          .box 
            b.cover
              | Request Newsletter
            .emailInput
              label(for="email") 
                input(tabindex="1" type='text', name='email', placeholder='yourName@email.com' data-email-input)
          .box2
            b.btn.reveal(tabindex="1" role="button" aria-pressed="false") 
              i.far.fa-envelope
            b.btn.addBtn(tabindex="2" role="button" aria-pressed="true" type='submit') 
              i.far.fa-paper-plane

      //- while val > 0
      //-   .cell cell
      //-   -val--